reputationDBPassword: &reputationDBPassword {{password}}
offerDBPassword: &offerDBPassword {{password}}

reputationDatabase:
    mongodbPassword: *reputationDBPassword
offerDatabase:
    mongodbPassword: *offerDBPassword
