#Shared values which are used between multiple namespaces
sfbNexusPassword: &sfbNexusPassword {{password}}
userNexusUrl: &userNexusUrl {{password}}
dockerRepositoryName: &dockerRepositoryName {{password}}
userNexusUsername: &userNexusUsername {{password}}
userNexusPassword: &userNexusPassword  {{password}}

credentials:
    userNexusUrl: *userNexusUrl
    dockerRepositoryName: *dockerRepositoryName
    userNexusUsername: *userNexusUsername
    userNexusPassword: *userNexusPassword
    sfbNexusPassword: *sfbNexusPassword
