rabbitMQPassword: &rabbitMQPassword {{password}}

credentials:
        rabbitmqPassword: *rabbitMQPassword
compositionqueue:
  secretName: rabbit-secret
  rabbitmq:
    username: rabbituser
    password: *rabbitMQPassword
